p{
    color: red
}

#titulo1{
    color: #355070;
    font-family: 'Roboto';
}
.negrita{
    font-weight: bold;
}

/*To selector de atributos*/
input[type='text']{
    color: blueviolet;
    font-weight: bold;
    font-family: 'Roboto';
    width: 200px;
}
button:hover{
    font-family: 'Roboto';
    font-weight: 300px;
    background-color: darksalmon;
    font-style: italic;
    font-size: 20px;
    border-style: solid;
    border-color: #435058;
    border-radius: 5px;
}

textarea{
    width: 200px;
    font-weight: 300px;
}

.input-group{
    border-color: lightblue;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
}