.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, th {
      vertical-align: middle;
    
  }

#custom-table{
  background-color: white;
  margin-top: 0px;
}

#customerTable{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    
}
#btnNewUser{
    align-content: center;
}